// body {
//   background-color:#DCDCDC !important;
// }

#nav-logo {
  color: white;
}

li {
  list-style: none;
  font-size: medium;
  padding: 10px;
}
li:nth-child(odd) {
  background-color: white;
  color: black;
}

.navbar {
  height: 55px;
}

.navbar-brand {
  font-size: large !important;
}

.logs-container {
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  border-radius: 5px;
  padding: 2px;
  min-height: 50vh;
  max-width: 85vw;
  overflow-wrap: break-word;
  margin-top: 5px;
  background-color: #e8e8e8;
}

.pagination-container {
  text-align: center;
  margin-top: 5px;
}

.modal-button-1 {
  margin-top: 8px;
}

.add-button {
  min-width: 75px;
}

.delete-button {
  min-width: 75px;
}

.dropdown-button {
  min-width: 133px;
}

.search-button {
  margin-top: 10px;
}

.input-bar {
  margin-bottom: 2px;
  margin-top: 2px;
}

.share-button {
  margin-top: 8px;
}