// body {
//   background-color:#DCDCDC !important;
// }

#nav-logo {
  color: white;
  font-size: 25px !important;
}

.logs-container li {
  list-style: none;
  font-size: medium;
  padding: 10px;
}
.logs-container :nth-child(odd) {
  background-color: white;
  color: black;
}

.logs-container :nth-child(even) {
  color: black;
}

.navbar {
  height: 55px;
}

.navbar-brand {
  font-size: large !important;
}

.logs-container {
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  border-radius: 5px;
  padding: 2px;
  min-height: 50vh;
  max-width: 85vw;
  overflow-wrap: break-word;
  margin-top: 5px;
  background-color: #e8e8e8;
}

.pagination-container {
  text-align: center;
  margin-top: 5px;
}

.modal-button-1 {
  margin-top: 4px;
  width: 125px;
}

.share-button {
  margin-top: 4px;
  width: 125px;
}

.add-button {
  margin-top: 5px;
  background-color: rgb(165, 165, 165) !important;
  // background-color: rgb(99, 148, 253) !important;
  color: white !important;
}

.text-above-add-btn {
  margin-top: 10px !important;
  margin-bottom: 1px;
  text-align: center;
}

.search-button {
  background-color: rgb(90, 90, 90) !important;
  // background-color: rgb(22, 92, 197) !important;
  color: white !important;
}

.delete-button {
  min-width: 75px;
  margin: 2px;
}

.btn-block + .btn-block {
  margin-top: 2px !important;
}

// .modal-action-button-container {
//   max-width: 300px !important;
// }

.dropdown-button {
  min-width: 138.625px;
  margin: 2px;
  border-radius: 3.5px !important;
}

.btn-secondary {
  background-color: none !important;
}

#input-bar {
  margin: 2px 2px 2px 2px;
  border-radius: 3.5px;
  border-color: rgb(108, 117, 125);
}

::placeholder {
  color: rgb(202, 202, 202) !important;
}



.modal-title {
  font-size: x-large;
  // color: white;
}

// .modal-header {
//   background-color: #343a40;
// }

.ant-calendar-picker-input {
  min-width: 245.375px !important;
  max-width: 245.375px !important;
  margin: 2px 2px 2px 2px !important;
  padding: 5.25px 10.25px !important;
  height: 33.5px !important;
  border-color: rgb(108, 117, 125) !important;
  color: rgb(108, 117, 125) !important;
}

